TELEGRAM_BOT_TOKEN=your_bot_token_here
SUPABASE_URL=https://pjzziuesieofmhahezgl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqenppdWVzaWVvZm1oYWhlemdsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjU0ODc5MiwiZXhwIjoyMDg4MTI0NzkyfQ._lOjpA88h8RsoHY7fgoWMll68oy1ghqQAQ-Ju8X5wbY
ADMIN_USER_ID=your_telegram_user_id_here